.app {
    font-family: Arial, sans-serif;
  }
  
  
  .content {
    padding: 20px;
    margin-left: 50px;
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 100vh;
    max-height: calc(100vh - 100px - 40px);
    overflow-y: auto;
}

.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #555;

    
}

.symbol {   
    margin-right: 8px;
}

.tools-header{
    padding-top: 5px;
}

.cancel-button{
  display: flex;
  align-self: flex-start;
  cursor: pointer;
}


.dropdown {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 20px; /* Indent content inside dropdown */
    margin-top: 6px;
    border-left: 1px solid #ddd;
}

.hidden {
    display: none;
}

/* Dropdown items */
.dropdown-item{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
  }
  
  .dark-theme{
    color: #555;

}

.icon {
    font-size: 15px;
    color: #555;
}



.sidebar-footer {
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.05); /* Example background */
  text-align: center; /* Optional for better alignment */
}