.App {
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Set sidebar width */
  height: 100vh;
  background-color: #fff; /* Sidebar background color */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%); /* Hide sidebar initially */
  transition: transform 0.3s ease;
  background-color: #fff;
  color: #000;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0); /* Show sidebar */
}

.dark-theme .sidebar {
  background-color: #333;
  color: #fff;
}

.link {
  text-decoration: none;
  color: inherit;
}
